@{
    ViewData["Title"] = "Home Page";
}

<div class="index">
    <div class="chess-play-container">
        
        <div class="playbuttons">
            <input type="button" value="Play" />
        </div>
    </div>
    
</div>
